{% extends 'base.html' %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to the QR Code app!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Enter your wallet and choose your chain to get a QR code for your address.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-dark btn-lg px-4 gap-3" <a href="{{url_for('input_wallet')}}">
           <a href="{{url_for('input_wallet')}}">

           </a>Enter
        </button>
      </div>
    </div>
  </div>

{% endblock %}
